@import '~/scss/variables';

.auth-header {
  // color: $middleDark;
  font-family: $serif;
  text-align: center;
  font-size: 8rem;
  letter-spacing: 1px;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, #{$deepDark} 0%, #{$middleDark} 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: $darkModeBody;
  position: relative;
}