@import '~/scss/variables';

.main__workspace {

  .section {

    .tag {
      background-color: transparent;

      &.is-warning {
        border: 1px solid $warning;
        color: $warning;
      }

      &.is-default {
        border: 1px solid $lightGray;
        color: $lightGray;
      }

      &.is-success {
        border: 1px solid $success;
        color: $success;
      }
    }

    .book__form {

      .modal {
        z-index: 9000;

        .modal-content {
          overflow: hidden;

          .modal-close {
            top: 80px;
          }
        }
      }
    }

    .table {

      thead,
      tbody {

        th,
        td {
          color: $darkModeBody;
          font-size: 0.875rem;
          border-color: $lightDark;

          .button {
            background-color: transparent;
            border-color: $darkModeBody;
            color: $darkModeBody;
            outline: none;
            box-shadow: none;
            font-family: $sans;
            letter-spacing: 0.5px;
            transition: all 0.2s ease;

            &:hover {
              background-color: $darkModeBody;
              color: $deepDark;
              transition: all 0.2s ease;
            }
          }
        }
      }

      &.is-hoverable {

        tbody {

          tr {

            &:not(.is-selected) {

              &:hover {
                background-color: $deepDark;
              }
            }
          }
        }
      }
    }
  }
}
