@import '~/scss/variables';

.main__workspace {

  .section {

    .tag {
      background-color: transparent;

      &.is-warning {
        border: 1px solid $warning;
        color: $warning;
      }

      &.is-default {
        border: 1px solid $lightGray;
        color: $lightGray;
      }

      &.is-success {
        border: 1px solid $success;
        color: $success;
      }
    }

    .book__form {

      .modal {
        z-index: 9000;

        .modal-content {
          overflow: hidden;
          height: 100%;

          .modal-close {
            top: 80px;
          }

          .control {
            margin-bottom: 10px;
          }

          .input {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid $lightDark;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            color: $darkModeBody;
            padding-left: 0;
            padding-right: 2rem;
            letter-spacing: 0.5px;
            font-family: $sans;
            font-size: 0.875rem;

            &::-webkit-input-placeholder {
              color: $lightDark;
            }

            &::-moz-placeholder {
              color: $lightDark;
            }

            &:-moz-placeholder {
              color: $lightDark;
            }
          }
        }
      }

      .bookfile {

        .button {
          width: 100%;
        }

        .input {
          border: 0;
          border-radius: 0;
          outline: none;
          padding-left: 0;
          padding-right: 0;
          box-shadow: none;
          background-color: transparent;
          color: $darkModeBody;
          border-bottom: 1px solid $lightDark;

          &::-webkit-input-placeholder {
            color: $lightDark;
          }

          &::-moz-placeholder {
            color: $lightDark;
          }

          &:-moz-placeholder {
            color: $lightDark;
          }
        }
      }
    }

    .table {

      thead,
      tbody {

        th,
        td {
          color: $darkModeBody;
          font-size: 0.875rem;
          border-color: $lightDark;
          vertical-align: middle;

          .button {
            background-color: transparent;
            border-color: $darkModeBody;
            color: $darkModeBody;
            outline: none;
            box-shadow: none;
            font-family: $sans;
            letter-spacing: 0.5px;
            transition: all 0.2s ease;

            &:hover {
              background-color: $darkModeBody;
              color: $deepDark;
              transition: all 0.2s ease;
            }
          }
        }
      }

      &.is-hoverable {

        tbody {

          tr {

            &:not(.is-selected) {

              &:hover {
                background-color: $deepDark;
              }
            }
          }
        }
      }
    }

    .pagination {

      &-link {
        margin-left: 0;
        color: $darkModeBody;
        border-color: transparent;

        &.is-current {
          border-color: $deepDark;
          background-color: $deepDark;
        }

        &[disabled] {
          background-color: transparent;
        }
      }
    }
  }
}
