@import '~/scss/variables';
@import 'simplebar/dist/simplebar.min.css';

html {
  overflow: hidden;
}

body {
  font-family: $sans;
  letter-spacing: 0.5px;
}

button,
input[type="submit"]
input[type="button"] {
  cursor: pointer;
}

.simplebar-content {
  min-height: 100%;
}

.loading-overlay {
  background-color: $deepDark;
  z-index: 1000;

  .loading-background {
    background-color: transparent;
  }
}