@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400;1,600&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$deepDark: #2a2735;
$middleDark: #3c394b;
$darkModeBody: #ffffdc;

$serif: 'Noto Serif', serif;
$sans: 'Jost', sans-serif;

$headerHeight: 60px;