@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400;1,600&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$deepDark: #2a2735;
$middleDark: #3c394b;
$lightGray: #9f9f9f;
$darkModeBody: #ffffdc;
$lightBlue: #4da1ff;
$transDark: rgba(42, 39, 53, 0.75);

$serif: 'Noto Serif', serif;
$sans: 'Jost', sans-serif;

$headerHeight: 60px;
$sidebarWidth: 175px;

$animation: cubic-bezier(.17,.67,.35,.99);