@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;1,400;1,600&family=Jost:ital,wght@0,400;0,600;1,400;1,600&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$deepDark: #2a2735;
$middleDark: #3c394b;
$lightDark: #646464;
$lightGray: #c1c1c1;
$darkModeBody: #ffffdc;
$warning: #f7d064;
$success: #0cc74d;
$lightBlue: #4da1ff;
$transDark: rgba(42, 39, 53, 0.75);

$sans: 'Jost', sans-serif;
$serif: 'Playfair Display', serif;
$mono: 'JetBrains Mono', monospace;

$headerHeight: 60px;
$sidebarWidth: 175px;

$animation: cubic-bezier(.17,.67,.35,.99);

$breakpoints: (
  'phone': 240px,
  'tablet': 768px,
  'laptop': 1200px,
  'desktop': 1920px,
  'landscape': '(orientation: landscape)'
) !default;

@mixin select {
  display: flex;
  width: 100%;
  padding: 0;
  height: 30px;
  justify-content: space-between;
  background-color: transparent;
  color: $darkModeBody;
  outline: none;
  border-radius: 0;
  border: 1px solid transparent;
  font-family: $sans;
  font-size: 0.875rem;
  letter-spacing: 1px;

  &:focus,
  &:active {
    box-shadow: none;
  }
}

@mixin dropdown {
  background-color: $middleDark;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .dropdown-item {
    color: $darkModeBody;

    &:hover {
      background-color: $deepDark;
    }
  }
}

@mixin input {
  border-radius: 0;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  height: 30px;
  color: $darkModeBody;
  cursor: default;
  font-family: $sans;
  font-size: 0.875rem;
  letter-spacing: 1px;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:not([disabled]) {
    border-bottom-color: $lightDark;
    cursor: text;
  }

  &::-webkit-input-placeholder {
    color: $lightDark;
  }

  &::-moz-placeholder {
    color: $lightDark;
  }

  &:-moz-placeholder {
    color: $lightDark;
  }
}
