@import '~/scss/variables';

.repeater__card {
  width: 100%;
  background-color: $middleDark;
  transition: box-shadow 0.2s ease;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30px 1fr;

  &:not(.--disabled) {
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      transition: box-shadow 0.2s ease;
    }

    .repeater__card-title {
      pointer-events: none;
    }

    .repeater__card-description {
      border-bottom-color: $lightDark;
      color: $darkModeBody;
    }
  }

  &-image {
    display: flex;

    .icon-person,
    .icon-building,
    .icon-hashtag,
    .icon-series,
    .icon-list {
      width: 30px;
      height: 30px;
      fill: $lightBlue;
      margin-top: 1px;
      pointer-events: none;
    }

    .icon-person {
      stroke: $lightBlue;
    }

    .icon-list {
      color: $lightBlue;
    }
  }

  &-content {
    padding-left: 1rem;
  }

  &-title {
    font-size: 0.875rem;
    color: $darkModeBody;
    display: block;
    line-height: 30px;
    transition: color 0.2s ease;

    &:hover {
      color: $lightBlue;
      transition: color 0.2s ease;
    }
  }
}
