@import '~/scss/variables';

.repeater__card {
  width: 100%;
  background-color: $middleDark;
  transition: box-shadow 0.2s ease;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30px 1fr;

  &:not(.--disabled) {
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      transition: box-shadow 0.2s ease;
    }

    .repeater__card-title {
      pointer-events: none;
    }

    .repeater__card-description {
      border-bottom-color: $lightDark;
      color: $darkModeBody;
    }
  }

  &-image {

    .icon-person,
    .icon-building,
    .icon-hashtag,
    .icon-series {
      width: 30px;
      height: 30px;
      fill: $lightBlue;
      margin-top: 1px;
    }

    .icon-person {
      stroke: $lightBlue;
    }
  }

  &-content {
    padding-left: 1rem;
  }

  &-title {
    font-size: 0.875rem;
    color: $darkModeBody;
    display: block;
    margin-bottom: 0.25rem;
  }

  &-description {
    color: $lightGray;
    font-size: 0.75rem;
    font-family: $sans;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid transparent;
    outline: none;
    padding: 0;
    display: block;
    width: 100%;
    padding-bottom: 0.1rem;
    appearance: none;
    letter-spacing: 1px;

    option {
      background-color: $deepDark;
    }
  }
}
