@import '../../scss/mixins.scss';
@import 'include-media';

.section {

  .book {
    grid-template-columns: 250px 1fr;

    &__title {
      font-size: 2rem;
      padding-top: 0.3rem;
      width: 100%;
      font-weight: 400;
      background-color: transparent;
      @include serif;
      @include viewInput;
    }

    &__subtitle {
      font-size: 1rem;
      width: 100%;
      font-size: 1.25rem;
      @include serif;
      @include viewInput;
    }

    &__rating {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $paddingMax;

      .pi-ban {
        display: none;
      }

      .p-rating-icon {
        margin: 0 0.25rem;
      }
    }

    &__file {

      &-input {
        width: 100%;
        margin-top: $paddingMin;
      }

      &-link {
        width: 100%;
        margin-top: $paddingMin;
        text-align: center;
        justify-content: center;
      }
    }

    &__repeater {
      display: grid;
      gap: $paddingMin;

      @include media('>=laptop-l', '<desktop-s') {
        grid-template-columns: repeat(3, calc(33.3333% - 0.75rem));
      }

      @include media('>=desktop-s', '<desktop-l') {
        grid-template-columns: repeat(4, calc(25% - 0.75rem));
      }

      @include media('>=desktop-l') {
        grid-template-columns: repeat(5, calc(20% - 0.75rem));
      }

      .p-card {
        min-height: 71px;

        &-content {
          padding: 0;

          & > *:last-child {
            margin-bottom: 0;
          }
        }

        .p-button:not(.--delete):not(.--undo):not(:last-child) {
          margin-bottom: 0.5rem;
        }

        .p-button:not(.--delete):not(.--undo),
        .p-dropdown,
        input.p-inputtext {
          width: 100%;
        }

        .--delete {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          z-index: 10;
          opacity: 0;
          transition: $transitionSimple;
          width: 1.75rem;
          height: 1.75rem;

          .pi {
            font-size: 0.75rem;
          }
        }

        .--undo {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          z-index: 10;
          width: 1.75rem;
          height: 1.75rem;

          .pi {
            font-size: 0.75rem;
          }
        }

        &.--deleted {

          &:before {
            content: '';
            background-color: var(--surface-a);
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
          }
          
          .p-card-content {

            & > *:not(.--undo) {
              opacity: 0.25;
              pointer-events: none;
            }

            .--delete {
              display: none;
            }
          }
        }

        &:hover {

          .--delete {
            opacity: 1;
            transition: $transitionSimple;
          }
        }
      }
    }

    &__footer {
      position: fixed;
      right: 0;
      bottom: 0;
      background-color: var(--surface-b);
      z-index: 1000;
      padding: 0 $paddingMax;
      height: $headerHeight;
      width: calc(100vw - #{$sidebarWidth});

      .actions {
        justify-content: flex-end;
        height: 100%;
      }
    }
  }
}

.p-dialog-book {

  .book__aside {
    width: 250px;
  }
}