@import '../../scss/mixins.scss';
@import 'include-media';

.section {

  .author {

    @include media('>=laptop-l', '<desktop-l') {
      grid-template-columns: 1fr 2fr;
    }

    @include media('>=desktop-l') {
      grid-template-columns: 1fr 3fr;
    }

    .cards {

      @include media('>=laptop-l', '<desktop-l') {
        grid-template-columns: repeat(2, 1fr);
      }
    
      @include media('>=desktop-l') {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}