@import '../../scss/mixins.scss';
@import 'include-media';

.section {

  .card {

    &__wrapper {
      display: grid;
      margin: -2rem -1rem;
      padding: 1.5rem;
      cursor: pointer;
      position: relative;

      @include media('<desktop-s') {
        grid-template-columns: 120px 1fr;
        gap: $paddingMin;
      }

      @include media('>=desktop-s') {
        grid-template-columns: 160px 1fr;
        gap: $paddingMax;
      }

      &.not-accounted {
        opacity: 0.5;
        filter: grayscale(1) blur(1px);
      }
    }

    &__status {
      position: absolute;
      top: 1rem;
      right: 1rem;

      &.pi-clock {
        color: var(--yellow-500);
      }

      &.pi-check-circle {
        color: var(--green-500);
      }
    }

    &__cover {
      object-fit: cover;
      border-radius: $borderRadiusSmall;
      display: block;
      box-shadow: $boxShadow;

      @include media('<desktop-s') {
        width: 120px;
        height: 190px;
      }

      @include media('>=desktop-s') {
        width: 160px;
        height: 250px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px 0 5px 0;
      overflow: hidden;
      text-align: center;
    }

    &__row {
      display: inline-flex;
      align-items: center;

      &-author {
        color: var(--primary-color);
        font-size: 1rem;
        line-height: 1.2;
      }
    }

    &__authors {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__author {
      color: var(--primary-color);
      font-size: 1rem;
      line-height: 1.2;
      display: grid;
      gap: $paddingMin;
      grid-template-columns: 3rem 1fr;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      .p-avatar {

        &-circle {
          border-radius: 50%;
          font-size: 1.25rem;
        }
      }

      &-lastname {
        text-transform: uppercase;
        margin-bottom: 0.25rem;
        font-weight: 500;
      }
    }

    &__title {
      color: var(--text-color);
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-family: $serif;
      margin-bottom: 0.875rem;
    }

    &__footer {
      margin-top: 10px;
    }

    &__tags {
      font-size: 0.75rem;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &-link {
        color: var(--text-color-secondary);
        margin: 0 0.25rem;
        line-height: 1.3;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: var(--text-color);
        }
      }
    }

    &__link {

      .p-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-primary {
        color: var(--primary-color);
        display: block;
        margin-bottom: 0.5rem;
      }

      &-secondary {
        font-size: 0.875rem;
        color: var(--surface-400);
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        &.--italic {
          font-style: italic;
        }

        .p-inputswitch {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
