button,
input[type="submit"]
input[type="button"] {
  cursor: pointer;
}

a {
  color: var(--primary-color);
}

.section {
  padding: $paddingMax;

  &__heading {
    display: flex;
    padding: $paddingMax 0;
    margin-top: -$paddingMax;
    position: sticky;
    top: 0;
    background-color: var(--surface-b);
    justify-content: space-between;
    z-index: 1000;
  }

  &__title {
    color: var(--text-color);
    font-size: 2rem;
    font-family: $serif;
  }

  .actions {
    display: flex;
    align-items: center;
  
    & > * {
      margin-left: $paddingMin;
    }
  }
}

.view {
  display: grid;
  gap: $paddingMax;
  padding-bottom: $headerHeight;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $paddingMin;

    span {
      @include serif;
      font-size: 1.5rem;
    }

    .p-button {
      width: 35px;
      height: 35px;
      box-sizing: border-box;
      flex: none;
    }
  }
}

.cards {
  display: grid;
  gap: $paddingMin;
  margin-bottom: 3rem;

  @include media('>=laptop-l', '<desktop-l') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media('>=desktop-l') {
    grid-template-columns: repeat(4, 1fr);
  }
}

.p-dialog {

  .p-card {
    margin-bottom: 1rem;

    &-heading {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    &-list {
      display: grid;
      gap: 0.75rem
    }

    &-item {
      display: flex;
      align-items: center;
      position: relative;

      &.--marked {
        padding-left: 1.25rem;

        &:before {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--text-color);
          position: absolute;
          left: 0;
          top: 8px;
        }
      }
    }

    &-link {
      line-height: 1.25rem;
      display: block;
    }

    &-name {
      color: var(--primary-color);
    }

    &-subname {
      color: var(--text-color-secondary);
      font-style: italic;
    }

    &-authors {
      color: var(--text-color);
    }
  }

  &-title {
    display: flex;
    align-items: center;
  }
}

.p-fieldset {
  background-color: transparent;
  margin: $paddingMax 0;

  &-legend {
    margin-left: $paddingMin;
  }
}

.field-checkbox {
  display: flex;
  align-items: center;

  .p-checkbox {
    margin-right: 10px;
  }
}

.p-dropdown {
  height: 35px;
}

.p-card {
  position: relative;

  &-add {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .pi-plus {
      font-size: 1.2rem;
    }
  }

  .p-tooltip {
    z-index: 1000;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.875rem;
  }
}
